<nav>
    <div class="logo"><h3>Musician Finder</h3></div>
    <div class="avatar">
        <div class="avatar-image">
            <i class="fas fa-user-astronaut"></i>
        </div>
        <div class="nav-menu">
            <div class="menu-item">
                <a href="#">View/Edit Profile</a>
            </div>
            <div class="menu-item">
                <a href="#">Account Settings</a>
            </div>
            <div class="menu-item separator"></div>
            <div class="menu-item logout">
                <button class="alert button expanded">Log Out</button>
            </div>
    </div>
</nav>