<div id="notifications" class="notifications unread">
    <div class="notifications-icon">
        <i class="far fa-bell"></i>
        <span class="badge">&nbsp;</span>
    </div>
    <div class="notifications-menu">
        I am a menu!
    </div>
</div>
