<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Musician Finder</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600;800&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link href="/fa/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
