<!-- This is the basic layout of all or most pages -->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quaver N Bits</title>
</head>
<body>
    {{{body}}}
</body>
</html>
