{{>nav}}
<main>
    <div class="main-container">
        <div class="create-profile-header">
            <h1>Welcome to the club, {{user.FirstName}}!</h1>
            <p>You're on your way to connect with other awesome musicians like yourself!</p>
            <p>Let's find out a little bit more about you first.</p>
        </div>
    </div>
    <div id="profile-form">
        <form>

        </form>
    </div>
</main>
