{{>nav}}

<main>
<h1>Welcome to the club, {{user.FirstName}}!</h1>
<p>You're on your way to connect with other awesome musicians like yourself!</p>
<p>Let's find out a little bit more about you first.</p>

<form action="">
  <label for="instruments">What instrument(s) do you play?</label><br>
  <input placeholder="Select an Instrument" list="instrument-list" type="text" id="instruments" oninput="checkSelected()">
     <datalist id="instrument-list">
        {{#each instruments}}
        <option value="{{Instrument}}">
        {{/each}}
     </datalist>
  <input type="submit" value="Add Instrument">
  <label for="workSample">Upload a sample of your work</label><br>
  <input type="file" id="workSample">

  <label for="bandName">
    What is your band or artist name?
  </label>
  <input placeholder="Band or artist name" type="text" id="bandName">
  <input type="submit" value="Add Band or Artist Name">

  <label for="zipCode">
     What is your zip code?
  </label>
  <input placeholder="Zip code" type="text" pattern="[0-9]{5}" id="zipCode" required>
  <input type="submit" value="Add Zipcode">

  <label for="phoneNumber">
     What is the best phone number to reach you at?
  </label>
  <input placeholder="Phone number" type="number" id="phoneNumber" required>
  <input type="submit" value="Add Phone Number">
  <label for="websiteURL">
     Do you have a website?
  </label>
  <input placeholder="Website URL" type="text" id="websiteURL">
  <input type="submit" value="Add URL">
  <label>
     Are you currently looking for a spot in a band?
  </label>
  <select id="LookingForWork" name="LookingForWork">
     <option value="1">Yes</option>
     <option value="0">No</option>
  </select>
  <input type="submit" value="Submit">


</form>
</main>