{{>nav}}
<script src="/js/dashboard.js"></script>
<main>
    <div class="main-container main-current-ads">
        <div class="grid-x">
            <div class="cell medium-10 current-ads-label">
                <h1>Current Ads:</h1>
            </div>
            <div class="cell medium-2 create-ad-cta">
                <button class="button primary expanded large" data-toggle="modal-create-ad"><i class="fas fa-plus"></i>New Ad</button>
            </div>
        </div>
        <div class="current-ads-container">
            <div id="current-ads-loading" class="current-ads-loading">
                <div class="current-ads-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="current-ads-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div>
            <div id="no-current-ads" class="no-current-ads" hidden>
                <div class="current-ads-text">
                    <h2>You don't have any ads! <i class="far fa-sad-cry"></i></h2>
                    <p>Ads are the only way to connect with other musicians! Make sure you place an ad as soon as possible so you
                        can grow your network.</p>
                </div>
                <div class="current-ads-cta">
                    <button class="button primary expanded large" data-toggle="modal-create-ad"><i class="fas fa-bullhorn"></i>Create An Ad!</button>
                </div>
            </div>
            <div id="current-ads">

            </div>
        </div>
    </div>
    <div class="main-container main-previous-ads">
        <div class="previous-ads-label">
            <h1>Previous Ads:</h1>
        </div>
        <div class="previous-ads-container">
            <div id="no-previous-ads" class="previous-ads-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            <div id="previous-ads-loading" class="previous-ads-loading">
                <div class="previous-ads-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="previous-ads-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div>
            <div id="previous-ads">

            </div>
        </div>
    </div>
</main>
<div class="reveal" id="modal-create-ad" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
    <h3>Let's Place An Ad!</h3>
    <p class="lead">Fill out the following info and we'll get your ad placed for you.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <form id = "addAd" action="/dashboard" method="post">
        <table>
            <tr>
                <td>
                    <label for="ad-title">Title: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="ad-title" name="ad-title" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ad-radius">How far of a location radius would you like your ad to reach (in miles, maximum is 625 miles)? </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="ad-radius" min="0" max="625" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ad-text">Description: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="ad-text" cols="80" rows="10" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="instruments">What you're looking for:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <!--   <input placeholder="Select an Instrument" list="instrument-list" type="text" id="instruments" name = "instrument-list" oninput="checkSelected()"> -->
                    <select id="instrument-list" name="instrument-list" onchange="addSelection(this.value)">
                        {{#each instruments}}
                            <option data-value="{{InstrumentKey}}" value="{{Instrument}}">{{Instrument}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="instrument-selection">

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="grid-x">
                        <div class="cell medium-7">
                            <button type="submit" class="button primary expanded large">Let's rock!</button>
                        </div>
                        <div class="cell medium-1"></div>
                        <div class="cell medium-4">
                            <button type="button" class="button alert expanded large" data-close>Never mind.</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

