{{>nav}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script src="/js/dashboard.js"></script>
<style>
    .delete-selection {
        cursor: pointer;
        float: right;
        color: red;
        font-weight: bold;
    }

    .instrument-selection-item {
        padding: 10px;
        margin-bottom: 10px;
        background-color: lightyellow;
    }
</style>
<main>
    <div class="main-container main-current-ads">
        <div class="grid-x">
            <div class="cell medium-10 current-ads-label">
                <h1>Current Ads:</h1>
            </div>
            <div class="cell medium-2 create-ad-cta">
                <button class="button primary expanded large" data-toggle="modal-create-ad"><i class="fas fa-plus"></i>New Ad</button>
            </div>
        </div>
        <div class="current-ads-container">
            <div id="current-ads-loading" class="current-ads-loading">
                <div class="current-ads-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="current-ads-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div>
            <div id="no-current-ads" class="no-current-ads" hidden>
                <div class="current-ads-text">
                    <h2>You don't have any ads! <i class="far fa-sad-cry"></i></h2>
                    <p>
                        Ads are the only way to connect with other musicians! Make sure you place an ad as soon as possible so you
                        can grow your network.
                    </p>
                </div>
                <div class="current-ads-cta">
                    <button class="button primary expanded large" data-toggle="modal-create-ad"><i class="fas fa-bullhorn"></i>Create An Ad!</button>
                </div>
            </div>
            <div id="current-ads">

            </div>
        </div>
    </div>
    <div class="main-container main-previous-ads">
        <div class="previous-ads-label">
            <h1>Previous Ads:</h1>
        </div>
        <div class="previous-ads-container">
            <div id="no-previous-ads" class="previous-ads-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            <div id="previous-ads-loading" class="previous-ads-loading">
                <div class="previous-ads-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="previous-ads-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div>
            <div id="previous-ads">

            </div>
        </div>
    </div>
</main>
<div id="error-modal" class="reveal" data-reveal>
    <h2 id="modalTitle">Error</h2>
    <p id="error-msg" class="lead"></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="reveal" id="modal-create-ad" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
    <h3>Let's Place An Ad!</h3>
    <p class="lead">Fill out the following info and we'll get your ad placed for you.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <form id="addAd" action="/dashboard/ads/create" method="post">
        <table>
            <tr>
                <td>
                    <label for="ad-title">Title: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="ad-title" name="ad-title" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ad-radius">Search Radius:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="ad-radius" required>
                        <option value="Any" selected>Any</option>
                        <option value="5">5 Miles</option>
                        <option value="10">10 Miles</option>
                        <option value="25">25 Miles</option>
                        <option value="50">50 Miles</option>
                        <option value="100">100 Miles</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ad-text">Description: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="ad-text" cols="80" rows="4" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="instrument-list">What you're looking for:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select id="instrument-list" style="width: 100%" required>
                        <option></option>
                        {{#each instruments}}
                        <option value="{{this.InstrumentKey}}">{{this.Instrument}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="instrument-selection">
                        <select id="level-list-main" class="selection-level" style="display: none" required>
                            {{#each levels}}
                            <option value="{{this.LevelKey}}">{{this.Level}}</option>
                            {{/each}}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="error-msg-ad" style="color: red;"></div>
                </td>
            </tr>
            <tr>
                <div id="instrument-selections" style="display:none"></div>
            </tr>
            <tr>
                <td>
                    <div class="grid-x">
                        <div class="cell medium-7">
                            <button type="submit" class="button primary expanded large">Let's rock!</button>
                        </div>
                        <div class="cell medium-1"></div>
                        <div class="cell medium-4">
                            <button type="button" class="button alert expanded large" data-close>Never mind.</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

