<section id="top" class="full-page">
    <div class="underlay">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="img/bg1.webm">
            Sorry, your browser does not support HTML5 video.
        </video>
    </div>
    <div class="overlay">
        <div class="login">
            <a href="#" data-open="registrationModal">Log In</a>
        </div>
        <div class="learn-more">
            <a href="#discover" data-smooth-scroll data-animation-duration="1000" data-threshold="0" data-animation-easing="swing">
                <div class="text">Learn More</div>
                <div class="arrow"><i class="fas fa-cat"></i></div>
            </a>
        </div>
        <div class="title">
          Musician Finder
        </div>
        <div class="subtitle">
            Connect with musicians. Jam. Repeat.
        </div>
        <div class="get-started">
            <button class="button primary large expanded" data-open="registrationModal">Get Started</button>
        </div>
    </div>
</section>
<section id="discover">
    <div class="discover-header">
        <h1>Finding Musicians Has Never Been Easier.</h1>
        <p>Harness the sheer power of the internet to meet up with other musicians in an entirely new and innovative way. Take
            the daunting task of basic human interaction away from the musical experience by connecting with musicians through our
            patented Cryptic Compartmentalization Portal&trade;. By the time you've navigated through the mysterious world of
            Musician Finder, you'll be in so deep that utilizing another similar service will be an unimaginable barrier! Here's how it works:</p>
    </div>
    <div class="discover-body">
        <div class="grid-x" data-equalizer data-equalize-on="medium" id="card-grid">
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div class="card-section">
                        <h4>1. Create Your Profile</h4>
                        <p>Tell us as much as you can about your personal life so we can sell your data.</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-location-arrow"></i>
                    </div>
                    <div class="card-section">
                        <h4>2. Place An Ad</h4>
                        <p>Look for other musicians without the unneeded convenience of searching through the network.</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="card-section">
                        <h4>3. Connect</h4>
                        <p>If you and another musician are a match, you can see their full profile. How cool is that?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-profile">
            <button class="button secondary hollow large expanded" href="#" data-open="registrationModal">Create Your Profile</button>
        </div>
        <div class="orbit" role="region" aria-label="Musician Finder Reviews" data-orbit>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <div class="orbit-slide-container">
                        <blockquote>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            "I like Musician Finder more and more each day because it makes my life a lot easier. The very best. Thank you for making it painless, pleasant and most of all hassle free! Best. Product. Ever!"
                            <cite>Antonio K.</cite>
                        </blockquote>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="orbit-slide-container">
                        <blockquote>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            "If you want real marketing that works and effective implementation - Musician Finder's got you covered. I like Musician Finder more and more each day because it makes my life a lot easier. I have gotten at least 50 times the value from Musician Finder."
                            <cite>Murielle Q.</cite>
                        </blockquote>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="orbit-slide-container">
                        <blockquote>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            "Wow what great service, I love it! Needless to say we are extremely satisfied with the results. I would like to personally thank you for your outstanding product."
                            <cite>April H.</cite>
                        </blockquote>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="orbit-slide-container">
                        <blockquote>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            "Musician Finder impressed me on multiple levels. I didn't even need training."
                            <cite>Missy C.</cite>
                        </blockquote>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{{! This div handles the modal for registration/login }}
<div class="reveal large" id="registrationModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
        <div class="login-box">
            <div class="grid-x collapse expanded">
                <div class="small-12 medium-6 column small-order-2 medium-order-1">
                    <form action="/register" method="POST">
                        <div class="login-box-form-section">
                            {{#if successRegistration}}
                            <div class="response-to-user success"><i class="far fa-check-circle"></i>{{successRegistration}}</div>
                            {{/if}}
                            <h1 class="login-box-title">Sign up</h1>
                            <input class="login-box-input" type="text" name="firstname" placeholder="First Name" />
                            <input class="login-box-input" type="text" name="lastname" placeholder="Last Name" />
                            <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
                            <input class="login-box-input" type="password" name="password" placeholder="Password" />
                            <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
                            <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
                            {{#if errorRegistration}}
                            <div class="response-to-user fail"><i class="far fa-times-circle"></i>{{errorRegistration}}</div>
                            {{/if}}
                        </div>
                    </form>
                </div>
                <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
                    <div class="login-box-social-section-inner">
                        <span class="login-box-social-headline">Sign in</span>
<!--                        <a class="login-box-social-button-facebook">Log in with facebook</a>-->
<!--                        <a class="login-box-social-button-twitter">Log in with Twitter</a>-->
<!--                        <a class="login-box-social-button-google">Log in with Google+</a>-->
                        <form action="/login" method="POST">
                            <div class="login-box-form-section">
                                <span class="or">OR</span>
                                <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
                                <input class="login-box-input" type="password" name="password" placeholder="Password" />
                                <input class="login-box-submit-button" type="submit" name="signin_submit" value="Sign in" />
                                {{#if messages.error}}
                                <div class="response-to-user fail"><i class="far fa-times-circle"></i>{{messages.error}}</div>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{! End of registration div }}

{{#if messages.error}}
<script type="text/javascript">
    //show the registration/login popup on load if there was a login error
    $(function () {
        $("#registrationModal").foundation('open');
    });
</script>
{{/if}}
{{#if errorRegistration}}
<script type="text/javascript">
    //show the registration/login popup on load if there was a registration error
    $(function () {
        $("#registrationModal").foundation('open');
    });
</script>
{{/if}}
{{#if successRegistration}}
<script type="text/javascript">
    //show the registration/login popup on load if there was a registration error
    $(function () {
        $("#registrationModal").foundation('open');
    });
</script>
{{/if}}