<div id="top" class="full-page">
    <div class="underlay">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="img/bg1.webm">
            Sorry, your browser does not support HTML5 video.
        </video>
    </div>
    <div class="overlay" data-open="registrationModal">
        <div class="login">
            <a href="#">Log In</a>
        </div>
        <div class="learn-more">
            <a href="#discover" data-smooth-scroll data-animation-duration="1000" data-threshold="0" data-animation-easing="swing">
                <div class="text">Learn More</div>
                <div class="arrow"><i class="fas fa-chevron-down"></i></div>
            </a>
        </div>
        <div class="title">
          Musician Finder
        </div>
        <div class="subtitle">
            Connect with musicians. Jam. Repeat.
        </div>
        <div class="get-started">
            <button class="button large expanded" data-open="registrationModal">Get Started</button>
        </div>
    </div>
</div>
<div id="discover" class="full-page">
    <div class="discover-header">
        <h1>Finding Musicians Has Never Been Easier.</h1>
        <p>Harness the sheer power of the internet to meet up with other musicians in an entirely new and innovative way. Take
            the daunting task of basic human interaction away from the musical experience by connecting with musicians through our
            patented Cryptic Compartmentalization Portal&trade;. By the time you've navigated through the mysterious world of
            Musician Finder, you'll be in so deep that utilizing another similar service will be an unimaginable barrier! Here's how it works:</p>
    </div>
    <div class="discover-body">
        <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="card-grid">
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div class="card-section">
                        <h4>1. Create Your Profile</h4>
                        <p>Tell us as much as you can about your personal life so we can sell your data.</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-location-arrow"></i>
                    </div>
                    <div class="card-section">
                        <h4>2. Place An Ad</h4>
                        <p>Look for other musicians without the unneeded convenience of searching through the network.</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="card">
                    <div class="card-divider">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="card-section">
                        <h4>3. Connect</h4>
                        <p>If you and another musician are a match, you can see their full profile. How cool is that?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="orbit" role="region" aria-label="Musician Finder Reviews" data-orbit>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <div class="docs-example-orbit-slide">
                        <p><strong>This is dodgerblue.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="docs-example-orbit-slide">
                        <p><strong>This is rebeccapurple.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="docs-example-orbit-slide">
                        <p><strong>This is darkgoldenrod.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </li>
                <li class="orbit-slide">
                    <div class="docs-example-orbit-slide">
                        <p><strong>This is lightseagreen.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </li>
            </ul>
<!--            <nav class="orbit-bullets">-->
<!--                <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>-->
<!--                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>-->
<!--                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>-->
<!--                <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>-->
<!--            </nav>-->
        </div>
        <div class="create-profile">
            <button class="button secondary hollow large expanded" href="#" data-open="registrationModal">Create Your Profile</button>
        </div>
    </div>
</div>

{{! This div handles the modal for registration/login }}
<div class="reveal large" id="registrationModal" data-reveal> 
    <div class="row">
    <div class="login-box">
        <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
            <div class="login-box-form-section">
            <h1 class="login-box-title">Sign up</h1>
            <input class="login-box-input" type="text" name="username" placeholder="Username" />
            <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
            <input class="login-box-input" type="password" name="password" placeholder="Password" />
            <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
            <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
            </div>
        </div>
        <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
            <div class="login-box-social-section-inner">
                <span class="login-box-social-headline">Sign in with your social network</span>
                <a class="login-box-social-button-facebook">Log in with facebook</a>
                <a class="login-box-social-button-twitter">Log in with Twitter</a>
                <a class="login-box-social-button-google">Log in with Google+</a>
                <div class="login-box-form-section">
                    <span class="or">OR</span>
                    <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
                    <input class="login-box-input" type="password" name="password" placeholder="Password" />
                    <input class="login-box-submit-button" type="submit" name="signin_submit" value="Sign in" />
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{{! End of registration div }}