<div class="full-page">
    <div class="underlay">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="img/bg1.webm">
            Sorry, your browser does not support HTML5 video.
        </video>
    </div>
    <div class="overlay">
        <div class="login">
            <a href="#">Log In</a>
        </div>
        <div class="learn-more">
            <a href="#">
                <div class="text">Learn More</div>
                <div class="arrow"><i class="fas fa-chevron-down"></i></div>
            </a>
        </div>
        <div class="title">
          Musician Finder
        </div>
        <div class="subtitle">
            Connect with musicians. Jam. Repeat.
        </div>
        <div class="get-started">
            <button class="button large expanded" href="#">Get Started</button>
        </div>
    </div>
</div>
<div class="full-page">
    <h1>Next Section!</h1>
</div>