<script src="/js/library.js"></script>
<script src="/js/matches.js"></script>
{{>nav}}
{{>alert}}

<main>
    <div class="main-container main-active-matches">
        <div class="active-matches-label">
            <h1>Active Matches:</h1>
            <!-- This is an example of a "View Profile" button for a matched user.
            Just plug in their {{ProfileID}} in place of the fixed value in the input below -->

            <div id="PLEASE-DELETE-ME-FOR-I-AM-BUT-A-MERE-TEST!">
                <form method="POST" action="/user-profile">
                    <input name="ProfileID" value="66" type="hidden" />
                    <button type="submit" class="button expanded large">View a profile!</button>
                </form>
            </div>
        </div>
        <div class="active-matches-container">
            <div id="no-active-matches" class="active-matches-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            {{
!-- <div id="active-matches-loading" class="active-matches-loading">
                <div class="active-matches-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="active-matches-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div> --
            }}
            <div id="active-matches">

            </div>
        </div>
    </div>
    <div class="main-container main-inactive-matches">
        <div class="inactive-matches-label">
            <h1>Inactive Matches:</h1>
        </div>
        <div class="inactive-matches-container">
            <div id="no-inactive-matches" class="inactive-matches-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            {{
!-- <div id="inactive-matches-loading" class="inactive-matches-loading">
                <div class="inactive-matches-text">
                    <h2>Consulting the Lexicon</h2>
                </div>
                <div class="inactive-matches-loading-spin">
                    <h2><i class="fas fa-spinner fa-pulse"></i><span class="sr-only">Loading...</span></h2>
                </div>
            </div> --
            }}
            <div id="inactive-matches">

            </div>
        </div>
    </div>
</main>