<script src="/js/matches.js"></script>
{{>nav}}
{{>alert}}

<main>
    <div class="main-container main-matches">
        This page will hold all of your active and inactive matches. You'll see!
    </div>
</main>