<script src="/js/search-results.js"></script>
{{>nav}}
{{>alert}}

<main>
    <div class="main-container main-search-results">
        This page will hold search results. You'll see.
    </div>
</main>