{{#if profile}}
    <h1>Artist Name: {{profile.ArtistName}}</h1>
    <h2>Artist Zip Code: {{profile.ZipCode}}</h2>
    <h3>Looking for work? {{profile.LookingForWork}}</h3>
{{else}}
    <h1>No profile here.</h1>
{{/if}}
