@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&family=Faster+One&family=Maven+Pro:wght@400;900&display=swap');

$title-font: 'Faster One', cursive;
$header-font: 'Maven Pro', sans-serif;
$main-font: 'Baloo Da 2', cursive;