// Fancy link underlining
@mixin fancylinks($link-color, $hover-color) {
  @media (-webkit-min-device-pixel-ratio:0) {
    a, nav a:visited, nav a:active, nav a:hover {
      letter-spacing: 2px;
      color: $link-color;
      border-bottom: 2px solid transparent;
      @include transition(.3s ease-in-out)
    }

    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: $hover-color;
      opacity: 0;
      @include transform(scaleX(0));
      @include transition(.3s ease-in-out)
    }

    a:hover:before {
      opacity: 1;
      @include transform(scaleX(1));
    }
  }
}

// Cross-browser transitions
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin transform($args...){
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
          transform: $args;
}

// Cross-browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Cross-browser gradients
@mixin gradient($args...){
  background-image: -webkit-linear-gradient($args); /* For Chrome 25+ and Safari 6+, iOS 6.1+, Android 4.3+ */
  background-image:    -moz-linear-gradient($args); /* For Firefox 3.6+ */
  background-image:      -o-linear-gradient($args); /* For old Opera 11.1+ */
  background-image:         linear-gradient($args); /* Standard syntax; must be last */
}

@mixin gradientBG($args...){
  background: -webkit-linear-gradient($args); /* For Safari 5.1+ */
  background:    -moz-linear-gradient($args); /* For Firefox 3.6+ */
  background:      -o-linear-gradient($args); /* For Opera 11.1+ */
  background:         linear-gradient($args); /* Standard syntax */
}

@mixin radialgradientBG($args...){
  background: -webkit-radial-gradient($args); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient($args); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient($args); /* For Firefox 3.6 to 15 */
  background: radial-gradient($args); /* Standard syntax */
}

@mixin boxshadow($args...){
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
          box-shadow: $args;
}
