$title-font-color: white;
$title-font-size: 8vw;
$subtitle-font-color: #e8e8e8;
$subtitle-font-size: 3vw;
$overlay-gradient-color-1: rgba(175, 45, 241, 0.5);
$overlay-gradient-color-2: rgba(45, 60, 241, 0.5);
$card-grid-bg-gradient-color-1: #41de98bb;
$card-grid-bg-gradient-color-2: #41ded0bb;

//$step-1-color: #2196F3;
//$step-2-color: #009688;
//$step-3-color: #4CAF50;
//$step-colors: $step-1-color, $step-2-color, $step-3-color;

.full-page {
  width: 100vw;
  height: 100vh;
}

#top {
  text-align: center;
  overflow: hidden;

  #videobg {
    width: inherit;
    height: inherit;
    filter: blur(10px);
    object-fit: cover;
    transform: scale(1.1);
  }

  .underlay {
      position: relative;
      z-index: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    z-index: 10;
    text-align: center;
    text-shadow: 4px 5px 6px rgba(25, 25, 25, 0.91);
    @include gradient(to right, $overlay-gradient-color-1, $overlay-gradient-color-2);

    .login{
      position: absolute;
      top: 3vh;
      right: 3vw;
      text-shadow: none;
      @include fancylinks(white, $primary-color)
    }

    .title {
      font-size: $title-font-size;
      font-family: $title-font;
      color: $title-font-color;
    }

    .subtitle {
      font-size: $subtitle-font-size;
      font-family: $header-font;
      color: $subtitle-font-color;
    }

    .get-started {
      font-size: 4vw;
      font-family: $header-font;
      padding: 5vh 0;
      width: 50vw;
      margin-top: 3vh;
    }

    .learn-more {
      position: absolute;
      bottom: 3vh;
      left: 50%;
      margin: 0 auto;
      color: $white;
      @include transform(translate(-50%, -50%));
      @include transition(0.3s ease);
      @include basic-links($white, $secondary-color);

      .text {
        opacity: 0;
        display: block;
        font-size: 1.5vw;
        @include transform(translateY(30px));
        @include transition(0.3s ease);
      }

      .arrow {
        display: block;
        font-size: 5vh;
        @include transform(translateY(-30px));
        @include transition(0.3s ease);
      }
    }

    .learn-more:hover {
      color: $secondary-color;
      @include transition(0.3s ease);

      .text {
        opacity: 1;
        @include transform(translateY(0));
        @include transition(0.3s ease);
      }

      .arrow {
        @include transform(translateY(0));
        @include transition(0.3s ease);
      }
    }
  }
}

#discover {
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0.07), rgba(33, 33, 33, 0)), url(../../img/discover_bg.png);

  .discover-header {
    padding: 5vh 5vw;
    height: 30vh;

    p {
      padding: 2vh 10vw 0;
    }

    h1 {
      font-family: $header-font;
      font-weight: bold;
      text-align: center;
    }
  }

  .discover-body {
    height: 70vh;
    @include gradient(to right, $card-grid-bg-gradient-color-1, $card-grid-bg-gradient-color-2);

    #card-grid {
      padding: 2vh 5vw;

      //@for $i from 1 through length($step-colors) {
      //  :nth-child(#{$i}) i {
      //    color: nth($step-colors, $i);
      //    border: 5px solid nth($step-colors, $i);
      //  }
      //}

      .card {
        background: transparent;
        border: none;

        .card-divider {
          justify-content: center;
          background: transparent;

          i {
            text-shadow: 4px 5px 6px rgba(25, 25, 25, 0.25);
            font-size: 10vh;
            color: $white;
          }
        }

        .card-section {
          color: $white;
          text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.25);

          h4 {
            font-family: $header-font;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

    .create-profile {
      margin: 2vh 10vw;
    }

    .orbit {
      margin: 0 20vh;

      .docs-example-orbit-slide {
        padding: 2rem 4rem;
        color: $white;
      }
    }
  }
}