$social-links: #607d8b;
$social-links-underline: #48fe80;

.main-profile {
  padding: 0 !important;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  .profile-header {
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    background: #333;
    @include gradient(to bottom right, hsl(random(360), 70%, 50%), hsl(random(360), 70%, 50%));
    color: $white;

    .profile-header-intro {
      text-align: center;

      .profile-header-image {
        border-radius: 50%;
        margin: 0 0 1.25rem;
        border: 3px solid $white;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
      .profile-header-title {
        p:last-child {
          margin: 0;
        }
      }
    }
  }

  @include breakpoint(large) {
    .profile-header {
      .profile-header-intro {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;

        .profile-header-image {
          margin: 0 1.25rem 0 0;
          width: 250px;
        }
      }
    }
  }

  .profile-about {
    padding: 1.25rem;

    .cell {
      padding: 1rem;
    }

    @include breakpoint(medium) {
      .cell.medium-8 {
        border-right: 1px solid #eee;
      }
    }

    @include breakpoint(small only) {
      .cell.medium-8 {
        border-bottom: 1px solid #eee;
      }

      .cell.medium-4 {
        border-bottom: 1px solid #eee;
      }
    }

    .profile-social {
      a {
        position: relative;
      }

      i {
        padding-right: 15px;
      }

      @include fancylinks($social-links, $social-links-underline)
    }
  }

  .profile-media {
    padding: 1.25rem;

    .cell {
      padding: 1rem;

      @include breakpoint(medium) {
        &:nth-of-type(1), &:nth-of-type(2) {
          border-right: 1px solid #eee;
        }
      }

      @include breakpoint(small only) {
          border-bottom: 1px solid #eee;
      }
    }


  }
}