$logo-size: 46px;
$avatar-size: 44px;
$avatar-icon-size: 36px;
$nav-color-1: rgba(0,0,0,1);
$nav-color-2: rgba(10,10,10,0.95);
$logo-gradient-1: $primary-color;
$logo-gradient-2: #f6ff6b;
$logo-text-border: 0.3px rgba(246, 255, 107, 0.1);

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: $nav-height;
  z-index: 100;
  @include gradient($nav-color-1, $nav-color-2);
  @include boxshadow(2px 2px 5px 1px rgba(0, 0, 0, 0.5));

  .logo {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
    font-family: $title-font;
    color: $white;
    height: $nav-height;

    h3 {
      margin-bottom: 0;
      @include gradient(to right, $logo-gradient-1, $logo-gradient-2);
      @include backgroundClip(text);
      -webkit-text-fill-color: transparent;
      @supports (-webkit-text-stroke: $logo-text-border) {
          -webkit-text-stroke: $logo-text-border;
      }
    }
  }

  .avatar {
    display: inline-flex;
    align-items: center;
    height: $avatar-size;
    width: $avatar-size;
    margin-top: ($nav-height - $avatar-size) / 2;
    margin-right: ($nav-height - $avatar-size) / 2;
    font-size: $avatar-icon-size;
    text-align: center;
    color: $white;
    border-radius: 25px;
    cursor: pointer;

    i {
      cursor: inherit;
    }

    &:hover {
      .nav-menu {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .avatar-image {
      overflow: hidden;
      border: 2px solid $white;
      height: inherit;
      width: inherit;
      border-radius: inherit;

      &:hover {
        border: 2px solid $primary-color;
        @include transition(0.2s linear);
      }
    }

    .nav-menu {
      position: absolute;
      top: 52px;
      width: 250px;
      right: -8px;
      z-index: 20;
      background: $white;
      border: 1px solid #eee;
      @include boxshadow(2px 2px 5px 0 rgba(0,0,0,0.5));
      transition: 0.3s ease-in-out;
      opacity: 0;
      transform: translateX(100%);
      transform-origin: top right;
    }

    .menu-item {
      font-size: 1.2rem;
      padding: 10px;

      &:hover {
        background-color: $secondary-color;
        @include transition(0.2s linear);
      }

      a {
        color: $dark-gray;
      }
    }

    .separator {
      margin: 20px 0;
      padding: 0 0 1px 0 !important;
      background-color: #eee;
    }

    .logout {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .notifications {
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 20px;
    padding: 0 10px;
    font-size: 32px;
    color: #fefefe;
    cursor: pointer;

    @include breakpoint(small only) {
      margin-right: 10px;
    }

    i {
      cursor: inherit;
    }

    .notifications-icon {
      position: relative;

      .badge {
        position: absolute;
        bottom: 12px;
        right: -3px;
        width: 10px;
        min-width: 0;
        height: 10px;
        background: #cc4b37;
        color: #fefefe;
      }
    }
}

  .nav-disabled-logout {
    position: absolute;
    top: 0;
    right: 20px;
    padding-top: 10px;
  }
}