$body-bg: #eee;

body {
  background: $body-bg;
  font-family: $main-font;
  margin: 0;
}

span, button, input {
  outline: none !important;
}

main {
  padding-top: $nav-height;

  .main-container {
    margin: 5vh 5vw;
    padding: 2vh 2vw;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}



