$body-bg: #eee;
$main-container-bg: #fefefe;
$primary-button-outline: #19fff4;

body {
  background: $body-bg;
  font-family: $main-font;
  margin: 0;
}

span, button, input {
  outline: none !important;
}

main {
  padding-top: $nav-height;

  .main-container {
    margin: 5vh 5vw;
    padding: 2vh 2vw;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: $main-container-bg;
    @include boxshadow(2px 2px 5px 1px rgba(0, 0, 0, 0.2));
  }
}

.button.primary {
  border: 1px solid $primary-button-outline;
  box-shadow: 0 0 10px 2px inset #19fff399;
}


